.Tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .Tooltip .TooltipText {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    opacity: 0;
    transition: opacity 500ms;
  }

  .Tooltip .TooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 32.5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .Tooltip:hover .TooltipText {
    visibility: visible;
    opacity: 1;
  }